<template name="home">

    <div class="container">
        <div class="page-header">
            {{> logoSVG}}
        </div>

        <div class="story">
            <header>
                <h1><span class="title">Once Upon a Time</span> #DonaldTrump and #Benghazi...</h1>
            </header>

            <section class="tweets">
                <p>
                    <span class="tweet" data-toggle="popover" title="@yankeyhotel" data-content="Hey I did this.">Here is a story about somethings that just so happen to fit inside a tweet. And Here is a story about some stuff</span>
                </p>
                <a href="http://twitter.com/home?status={...Add to the story here!} %23OUaT_daily" class="btn btn-purple" id="cta">
                    <span class="glyphicon glyphicon-comment"></span>Add to the story!
                </a>
            </section>


            <section class="nexts">
                <p>Choose the next part of the story by retweeting.</p>

                <div class="well next">
                    <div class="left">
                        <span class="tweet">The space content is one way to avoid an Opera bug when the content editable attribute is included anywhere else in the document. #OUaT_daily</span>
                        <span class="user">via @yankeyhotel</span>
                    </div>
                    <div class="right">
                        <button class="btn btn-blue">102 <span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <button class="btn btn-pink"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </div>
                </div>

            </section>


        </div>
    </div>

    {{> footer }}

</template>